<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style_manager.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="row" style="text-align: center">
                    <h1>Deliveries</h1>
                </div>
            </div>
        </nav>
        <div class="container">   
            <ul>
            {% csrf_token %}
            {% for delivery in deliveries %}
                <li><a href="{% url 'restocking:results_process_delivery' delivery=delivery %}">{{delivery}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>
