<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/style.css' %}">
    </head>
    <body>
        <div class="container">
            {% if request.path == '/restocking/nfc/tag_encoder/pick_device' %}<h1>Tag Encoder</h1>{% endif %}
            {% if request.path == '/restocking/nfc/tag_identifier/pick_device' %}<h1>Tag Identifier</h1>{% endif %}
            <p>Pick the device you want to use.</p>
            <ul>
                {% for device in devices %}
                  {# Not the most efficent way to do this, but it is more readable. #}
                  {% if request.path == '/restocking/nfc/tag_encoder/pick_device' %}
                  <li><a href="{% url 'restocking:tag_encoder_find_product' device=device %}">{{device}}</li>
                  {% endif %}
                  {% if request.path == '/restocking/nfc/tag_identifier/pick_device' %}
                  <li><a href="{% url 'restocking:tag_identifier' device=device %}">{{device}}</li>
                  {% endif %}
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
